#container {
    padding: 0;
    margin: 0;
    border-width: 2px;    
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 968px;
    max-height: 968px;
}

#container > div {
    aspect-ratio: 1/1;
    background-color: lightgray;
}